<!DOCTYPE html>
<html>
  <head>
    <title>Knuvu</title>
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="Description" content="Knuvu is a quantitative qualitative multivariate heatmapping decision tool.">
    <%= favicon_link_tag 'icons/favicon.ico' %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/app-v1/templates' %>
    <%= javascript_include_tag "application" %>
  </body>
</html>